<div ng-include="'borrowersidebar.html'"></div>
    <div class="container-fluid" ng-controller="ckrtCtrl">
      <div class="row">        
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h2 class="header">Book List</h2>	          
          <div class="panel panel-default">
			  <div class="panel-heading">
			  </div> 
			  <table class="table table-striped">
			    <thead>
                <tr >
                  <th><h4><span class="label label-primary">#</span></h4></th>
                  <th><h4><span class="label label-primary">Book Title</span></h4></th>
                  <th><h4><span class="label label-primary">Author</span></h4></th>
                  <th><h4><span class="label label-primary">Publisher</span></h4></th>
                  <th><h4><span class="label label-primary">Genre</span></h4></th>
                  <th><h4><span class="label label-primary">Library Branch</span></h4></th>
                  <th><h4><span class="label label-primary">Copies</span></h4></th>
                  <th><h4><span class="label label-primary">Check Out</span></h4></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="b in branch.books">
                  <td>{{$index+1}}</td>
                  <td>{{b.title}}</td>
                  <td><span ng-repeat="a in b.authors">{{a.authorName}}, </span></td>
                  <td><span ng-repeat="p in b.publisher">{{p.publisherName}}</span></td>
                  <td><span ng-repeat="g in b.genres">{{g.genreName}}, </span></td>
				  <td>{{branch.branchName}}</td>
				  <td>{{b.relatedCopies}}</td>
                  <td><button type="button" class="btn btn-primary" ng-click="showCheckBookModal(b.bookId)">Check Out</button></td>
                </tr>
              </tbody>        
			 </table>
		  </div>
        </div>
      </div>
    </div>
