<div>
	<div class="modal-header">
        <button type="button" class="close" ng-click="cancel()" aria-label="Close">
        <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Confirm Return Details</h4>
      </div>
	      <div class="modal-body">
	      <P> Are you sure you want to return this book? </P>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" ng-click="cancel()">Close</button>
	        <button type="submit" class="btn btn-primary" ng-click="ok()">Return</button>
	      </div>	      
</div>
      