
<div>
	<div class="modal-header">
        <button type="button" class="close" ng-click="cancel()" aria-label="Close">
        <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Update Book Details</h4>
      </div>
	      <div class="modal-body">
			<p>Enter the name of your book:</p>
			<input type="text" class="form-control" ng-model="book.title" placeholder="{{book.title}}">
			<p>Select the author of your book:</p>
			<select ng-model="authorID" multiple>
				<option ng-repeat="a in authors" value="{{a.authorID}}" >
					{{a.authorName}}</option>
			</select>
			<p>Select the publisher of your book:</p>
			<select ng-model="publisherID">
				<option ng-repeat="p in publishers" value="{{p.publisherId}}" >
					{{p.publisherName}}</option>
			</select>
			<p>Select the genre of your book:</p>
			<select ng-model="genreID" multiple>
				<option ng-repeat="g in genres" value="{{g.genreId}}" >
					{{g.genreName}}</option>
			</select>				     	
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" ng-click="cancel()">Close</button>
	        <button type="submit" class="btn btn-primary" ng-click="ok()">Save changes</button>
	      </div>	      
</div>
