   <div ng-include="'librariansidebar.html'"></div>
    <div class="container-fluid" ng-controller="libCtrl">
      <div class="row">        
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h2 class="header">Book List of {{branch.branchName}} at {{branch.branchAddress}} </h2>          
          <div class="panel panel-default">
			  <div class="panel-heading">
 				<button type="button" class="btn btn-primary" ng-click="showAddBrBkModal()">Add Book Into Library</button>
 				<div class="pull-right" >
 				<button type="button" class="btn btn-primary" ng-click="showEditBranchModal()">Edit Library Info</button>
 				</div>
<!-- <%--            		<div class="pull-right" id="page-selection">
					<nav aria-label="Page navigation">
						<ul class="pagination" style="margin: 0px !important; vertical-align: middle;">
							<li><a href="#" aria-label="Previous"> <span aria-hidden="true">&laquo;</span>
							</a></li>
								<li><a href="pageauthors?pageNo=<%=i%>"><%=i%></a></li>
							<li><a href="#" aria-label="Next"> <span aria-hidden="true">&raquo;</span>
							</a></li>
						</ul>
					</nav>
				</div> --%>  -->        				  
			  </div>
			
			  <table class="table table-striped">
			    <thead>
                <tr>
                  <th><h4><span class="label label-primary">#</span></h4></th>
                  <th><h4><span class="label label-primary">Book Title</span></h4></th>
                  <th><h4><span class="label label-primary">Number of Copies</span></h4></th>
                  <th><h4><span class="label label-primary">Edit</span></h4></th>
                  <th><h4><span class="label label-primary">Delete</span></h4></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="b in branch.books">
                  <td>{{$index+1}}</td>
                  <td>{{b.title}}</td>
                  <td>{{b.relatedCopies}}</td>
                  <td><button type="button" class="btn btn-primary" ng-click="showEditBrBkModal(b.bookId)">Update</button></td>
                  <td><button type="button" class="btn btn-danger" ng-click="showDelBrBKModal(b.bookId)">Delete</button></td>
                </tr>
              </tbody>        
			 </table>
		  </div>
        </div>
      </div>
    </div>
